{% extends "base.html" %}
{% block content %}

{% for item in items %}
<div class="item">
 <div class="item_head">
  <ul>
      <li><a href="{{ item.source.address }}">{{ item.source.name }}</a></li>
   <li> {{ item.added.__str__()[:-7] }}</li>
   {% if item.archived %}<li>[archived]</li>{% endif %}
   {% for k,attr in item.attributes.iteritems() %}
   <li>{{ k }}: {{ attr }}</li>
   {% endfor %}
  </ul>
 </div>
 <div class="item_title">
     <a href="{{ item.url }}">{{ item.name }}</a>
 </div>
 <div class="item_body">
  {{ item.content|safe }}
 </div>
</div>
{% endfor %}
<hr />

{% endblock %}

{% block footer %}

<div class="right">items: {{ items|length }} | unarchived: {{ unarchiveds|length }}</div>
<p>
<form method="post" action="/archive">
    <input type="hidden" name="ids" value="{{ unarchiveds|join(',') }}" />
    <input type="submit" value="ARCHIVE THIS VIEW" />
</form>
</p>
{% endblock %}
