{% extends "base.html" %}
{% from '_helpers.html' import render_pagination with context %}
{% block content %}

{{ render_pagination(pagination, menu_path) }}
{% for item in items %}
<div class="item">
 <div class="item_head">
  <ul>
   <li> {{ item.added.__str__()[:-7] }}</li>
   <li>{% if item.archived %}[archived]{% else %}<a href="/archive/{{ item.item_id }}" class="archive_link" target="status_frame">archive</a>{% endif %}</li>
   {% for k,attr in item.attributes.iteritems() %}
   <li>{{ k }}: {{ attr }}</li>
   {% endfor %}
  </ul>
 </div>
 <div class="item_title">
 <a class="item_name" href="{{ item.url }}">{{ item.name }}</a>
 <div class="item_source"><a href="{{ item.source.address }}">{{ item.source.name }}</a></div>
 </div>
 <div class="item_body">
  {{ item.content|safe }}
 </div>
</div>
{% endfor %}
{{ render_pagination(pagination, menu_path) }}
<hr />

{% endblock %}

{% block footer %}

<div class="right">page: {{ items|length }}/{{ unarchiveds|length }}</div>
<div class="left">
<form method="post" action="/archive">
    <input type="hidden" name="ids" value="{{ unarchiveds|join(',') }}" />
    <input type="submit" value="ARCHIVE THIS VIEW" />
</form>
</div>
{% endblock %}
