body, div, table, tr, td, h1, h2, h3, h4, pre, p { padding: 0; margin: 0; }

body { background: #222222 url('/static/images/bg.gif') repeat; background-attachment: fixed; color: #FFFFFF; font-family: Arial; }

input { margin: 0; padding: 0.5em; background: #000000; color: #FFFFFF; font-weight: bold; border: 1px solid #444444; }
hr { margin: 0; border: 1px solid #5B5BC7; }
label { display: block; }
a { text-decoration: none; color: #90EE90; font-weight: bold; }
a:hover { text-decoration: underline; }
a:focus { color: red; }
:hover > .hidden { visibility: visible; display: inherit; }

input.text { display: block; margin: 2px 16px; width: 400px; }

#header { font-weight: bold; }
#header ul { padding: 10px 20px 0 0; float: right; }
#header ul li { list-style: none; float: left; }
#header ul li a { padding: 10px; color: #FFFFFF; }

#footer { position: fixed; bottom: 0; left: 0; right: 0; height: 40px; vertical-align: middle; line-height: 40px; border-top: 1px solid #5B5BC7; background: #000000; }
#footer input { border: 0; }
#footer input[type="submit"] { cursor: pointer; }

#query { float: left; padding: 20px; }

#query_input { width: 400px; }

.hidden { visibility: hidden; display: none; }
.highlight { background: #000000; border: 1px solid #444444; }

#content { clear: both; margin: 0 20px; margin-bottom: 100px; }

.item { border: 2px solid #000000; font-size: 0.8em; clear: both; background-color: #080808; }

.item_body { margin: 4px 0; padding: 0 8px; clear: both; }
.item_body pre { overflow: auto; padding: 4px;  }
.item_body p { padding: 4px 0; max-width: 800px; text-align: justify; }

.item_title { font-size: 1.4em; padding: 2px; background: #000000; }
.item_title a { color: #5B5BC7; }

.item_head { width: 100%; }
.item_head ul { margin: 0; padding: 0; }
.item_head ul li { list-style: none; float: right; padding: 4px; }

.right { float: right; }

